@charset "UTF-8";
.container{
	margin 0 auto;
}
#title{
	float:left;
}
#showCart{
	float:right;
}
#logout{
	float:right;
	margin-left: 1rem;
}
#backToHall{
	float:right;
}
#myCart tr td input {
	width: 3rem;
}
.red{
	color:red;
}
